{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": "airbnb-base",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"linebreak0style": 0,
		"eslint linebreak0style": [0, "error", "widows"],
		"import/extensions": [
			"error",
			"always"
		]
	}
}